.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.buttonMaterial button + button {
  margin-left: 10px;
}


.buttonMaterial button {
  min-width: 120px;
}


.btn-completed {
  background-color: #119c11 !important;
}

.loading::before {
  content: '';
  background-color:#000;
  opacity: 0.5;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-child {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-20px, -20px);
  
}